gnssins.lng = 0.0
gnssins.lat = 0.0
gnssins.altitude = 0.0
gnssins.accuracy = 0.0
gnssins.speed = 0.0
gnssins.bearing = 0.0

velocity.v_x = 0.0
velocity.v_y = 0.0
velocity.v_z = 0.0

position.x = 0.0
position.y = 0.0
position.z = 0.0
position.lng = 0.0
position.lat = 0.0
position.altitude = 0.0

attitude.roll = 0.0
attitude.pitch = 0.0
attitude.yaw = 0.0


Vector3d gyro_coef(0.0,0.0,0.0)
parameters.gyro_coef = gyro_coef
VectorXd acc_coef(6)
acc_coef << 0.0,0.0,0.0,1.0,1.0,1.0
parameters.acc_coef = acc_coef
VectorXd mag_coef(6)
mag_coef << 0.0,0.0,0.0,1.0,1.0,1.0
parameters.mag_coef = mag_coef

parameters.weak_gps = 100
parameters.gamma = 1.0
parameters.epsilon = 0.000001
parameters.max_step = 200

parameters.acc_a1 = 0.0
parameters.acc_a2 = 0.0
parameters.acc_b0 = 0.0
parameters.acc_hz = 5.0
Vector3d acc(0.0,0.0,0.0)
parameters.last_acc_data = acc
parameters.sec_last_acc_data = acc
parameters.acc_thres = 0.1

Vector3d err(0.0,0.0,0.0)
parameters.err = err
parameters.ki = 0.05
parameters.kp = 10.0
parameters.Hz = 10.0
parameters.halfT = 0.05
parameters.static_t_factor = 0.35
parameters.move_t_factor = 0.27
parameters.t = 0.285714

parameters.move_distance_threshod = 500000.0
parameters.ins_count = 0

parameters.gps_static_speed_threshold = 0.02
parameters.gps_count = 0
parameters.gps_init_threshold = 1
parameters.gps_pre_lng = 0.0
parameters.gps_pre_lat = 0.0
parameters.gps_pre_t = 0.0
parameters.gps_pre_speed = 0.0
parameters.gps_pre_accuracy = 0.0
parameters.gps_pre_bearing = 0.0
parameters.gps_pre_altitude = 0.0

parameters.g = 9.805567
parameters.mag = 157.44
parameters.we = 0.000072921158
parameters.R = 6378137.0

